.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.spinner {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

table {
  width: 100%;
}

.empty {
  text-align: center;
  margin: 40px 0;
  color: #777;
}
