<app-loader [visibility]="loader"></app-loader>
<div class="login">
    <div class="box-left">
      <img src="assets/images/totvs-image.png" width="300" height="300" alt="Logo">
    </div>
    <div class="box-right">
        <div class="box-form">
            <form [formGroup]="formularioLogin" novalidate>
                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Usuário</mat-label>
                        <input formControlName="username" matInput placeholder="Usuário" />
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Senha</mat-label>
                        <input formControlName="password" matInput type="password" placeholder="Senha" />
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <span class="psw">
                        <a [routerLink]="['/inicial/reseta-senha']">Esqueci Minha Senha</a>
                    </span>
                    <span class="versao">Versão {{ environment.version }} - {{ environment.environment }}</span>
                </div>
                <br />
                <div class="text-center">
                    <button type="button" class="btn btn-interfile mx-auto" (click)="login()">ENTRAR</button>
                </div>
            </form>
        </div>
    </div>
</div>
